.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: bisque;
}
nav a{
    color: rgb(20, 119, 14);
    margin-left: 15px;
}
img{
    border-radius: 10px;
}
